/* Import font from google */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body{
   background-color: rgb(200,200,200);
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Open Sans', sans-serif;
}
#topo, #menu,.destaques, section{
   width: 900px;
   margin:0 auto;
}
#topo h1{
   animation:introducao 2s linear infinite alternate;
   -webkit-animation:introducao 2s linear infinite alternate;
   -moz-animation:introducao 2s linear infinite alternate;
}
@-webkit-keyframes introducao{
   0%{color: red; -webkit-transform:rotate(0deg);}
   25%{color: blue; -webkit-transform:rotate(5deg) scale(1.2);}
   50%{color: green; -webkit-transform:rotate(0deg);}
   75%{color: purple; -webkit-transform:rotate(-5deg) scale(1.2);}
   100%{color: red; -webkit-transform:rotate(0deg);}
}
@keyframes introducao{
   0%{color: red; -webkit-transform:rotate(0deg);}
   25%{color: blue; -webkit-transform:rotate(5deg) scale(1.2);}
   50%{color: green; -webkit-transform:rotate(0deg);}
   75%{color: purple; -webkit-transform:rotate(-5deg) scale(1.2);}
   100%{color: red; -webkit-transform:rotate(0deg);}
}
#menu li{
   display:inline;
}
.destaques li{
   width: 50%;
   float: left;
   text-align: center;
   list-style: none;
   padding: 20px 0;
}
.destaques li:hover{
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   transform: scale(1.1);
   -webkit-transition:all 500ms linear;
   -moz-transition:all 500ms linear;
   transition:all 500ms linear;
}
.destaques li strong{
   width: 100%;
   display: block;
}
.center{
   text-align: center;
}
table, tr, td{
   border: 1px solid #000;
}
table{
   background-color: #ddd;
}
form fieldset{
   border: none;
}
form legend{
   text-transform: uppercase;
   font-size: 1.2em;
   padding: 0;
   width: 100%;
   border-bottom: 1px solid #555;
}
form label, form input:not([type=checkbox]), form select, form textarea{
   width: 100%;
}
form div{
   width: 48%;
   margin: 0 1%;
   height: 180px;
   float: left;
}
button{
   padding: 10px 20px;
   background-color: blue;
   color: #fff;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
#rodape{
   width: 105%;
   height: 7%;
   background-color: #333;
   color: #ccc;
   float: left;
   text-align: center;
}
#rodape li {display: inline;
}
/*
.menu-bar {
   background-color: #000;
   width: 100%;
   margin: auto;
   height: 80px;
}

.menu-bar ul {
   text-align: right;
}
*/
@media(min-width: 0px) and (max-width: 662px) { 
   .destaques li {
      float: none;
      margin: 0 auto;
   }
}
@media (min-width: 663px) and (max-width: 991.98px) { 
   .menu-bar {
      background-color: #000;
      width: max-content;
      margin: auto;
      height: 80px;
   }
   
   .menu-bar ul {
      text-align: center;
   }
}

@media (min-width: 991.99px) and (max-width: 1199.99px) { 
   .lista-livro ul {
      display: flex;
      flex-wrap: wrap;
   }
   .destaques li {
      width: 25%;
      text-align: initial;
   }
}
table {
   background-color: red;
   margin: 0 auto;
}

.bodyprodutinho{
   width: auto;
}
#rodape {  
   position: fixed;
   bottom:0;
   left:0;  
}
#rodape li a {
   color: #fff;
}

@media (max-width: 662px){
   .bodyprodutinho{
      background-color: brown;
   }
   #menu ul a{
      color: rgb(214, 200, 5);
   }
}
@media (min-width: 663px) and (max-width: 991.98px){
   .bodyprodutinho{
      background-color: rgb(83, 83, 194);
   }
   #menu ul a{
      color: rgb(214, 200, 5);
   }
   #topo h2{
      color: orangered;
   }
}
@media (min-width: 991.99px) and (max-width: 1199.99px){
   .bodyprodutinho{
      background-color: rgb(83, 194, 102);
      text-align: center;
   }
   #menu ul a{
      color: rgb(204, 8, 8);
   }
   #topo h2{
      color: rgb(0, 0, 0);
   }
}

#bodysobre{
   text-align: center;
   background-image: url("https://img.freepik.com/fotos-premium/homem-macaco-pensando-sobre-fundo-branco-em-fundo-colorido_1368-11733.jpg?w=996");
   background-repeat: no-repeat;
   background-size: cover;
}
